#quiz {
    position: relative;
    background-image: url("../assets/americanschool.jpg") !important;
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: calc(90vw * 642 / 900);
    margin: auto;
}

quiz {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
}

quiz.completed {
    color: whitesmoke;
    font-size: .9em;
}

quiz.completed:after {
    content: ' ✔';
}