.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile * {
    margin-right: 5px;
    color: white;
}

.profile-stat-label {
    text-transform: uppercase; 
}
