#details {
    position: relative;
    background-image: url("../assets/planets-of-the-solar.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: calc(90vw * 642 / 900);
    margin: auto;
}

.details {
    position: absolute;
    color: green;
    text-shadow: 1px 1px 1px black;
}

.details.completed {
    color: whitesmoke;
    font-size: .9em;
}

.details.completed:after {
    content: ' ✔';
}